#b {
    background-color: crimson;
}

#ipad {
    width: 300pt;
    height: 450pt;
}

i{
    float: left;
    width: 40px;
    height: 40px;
    display: flex;
  justify-content: center;
  align-items: center;
}

#bg{
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}